div{
    border :1px solid black;
}
.container{
    width : 940px;
    padding : 20px;
    margin : 0 auto;
}
#header{
    padding : 20px;
    margin-bottom: 20px;
}
#sidebar{
    width  : 220px;
    padding : 20px;
    float : right;
    margin-bottom : 20px;
}
#sidebar2{
    width :150px;
    float : left;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
#content{
    width : 420px;
    float : left;
    margin-bottom: 20px;
}
#footer{
    clear : both ;
    padding : 20px;
}
.po{
    position : absolute;
    top : 230px;
    right : 350px;
}
